*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    padding: 15px 0;
    font-family: Lato;
    font-weight: ExtarBold;
}

h2 {
    font-size: 40px;
    font-family: Lato;
    font-weight: ExtarBold;
    padding: 40px 0;
}

h3 {
    font-size: 40px;
    font-family: Lato;
    font-weight: ExtarBold;
    padding: 40px 0;
}

p {
    font-size: 24px;
    line-height: 1.35;
}


.hero {
    display: flex;
    background-color: #e5547320;
    align-items: center;
}

.hero-text{
    padding-left: 150px;
    margin: 50px;
    align-items: center;
}

.btn{
    background-color: #eb2f58;
    margin: 20px 0;
    padding: 20px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border:none;
    text-align: center;
}

.margin-section{
    margin: 80px 200px;
    text-align: center;
}

.featured-products{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.featured-image{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 10px;
    padding: 100px 80px 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.featured-img-1{
    background-color: #A7216225;
}

.featured-img-2{
    background-color: #0597A025;
}

.featured-img-3{
    background-color: #477D1125;
}

.featured-item-title{
    text-decoration: underline;
    font-weight: 600;
    padding-top: 10px;
}

.deal-section{
    display: flex;
    background-color: #e5547320;
    align-items: center;
    justify-content: center;
    padding: 40px 40px
}

.deal-description{
    width: 40%;
    padding: 0 120px;
    text-align:center;
}

.insta-images{
    display: flex;
    justify-content:center;
    margin: 40px 0;
}

.insta-images img{
    padding: 20px;
}

.subscription-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-size: cover;
}

input[type=text] {
    width: 600px;
    padding: 18px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
  }

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 100px 50px;
}

.copyright{
    color: rgb(202, 202, 202);
    padding: 20px 0;
}

.advantages-section{
    text-align: center;
    background-color: #e5547320;
    padding: 80px 0;
}

.features{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.features div{
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 50px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.features img{
    width: 200px;
    height: 200px;
    background-color: #ee8aa0;
    border-radius: 100%;
    padding: 50px;
}