*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    padding: 15px 0;
    font-family: Lato;
    font-weight: ExtarBold;
}

p {
    font-size: 24px;
    line-height: 1.35;
}


.hero {
    display: flex;
    background-color: #e5547320;
    align-items: center;
}

.hero-text{
    padding-left: 150px;
    margin: 50px;
    align-items: center;
}

.btn{
    background-color: #eb2f58;
    margin: 20px 0;
    padding: 20px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border:none;
    text-align: center;
}